.login-btn{
    background-color: #fff;
    padding: 10px 10px;
    border-radius: 8px;
}
.edit-card{
    width: 20px;
    height: 20px;
    position: absolute;
    right: 8px;
    top: 30px;
}

.logout-btn{
    background-color: #fff;
    padding: 10px 10px;
    border-radius: 8px;
    margin-left: auto;
    margin-right: 15px;
}
.body-container{
    padding: 10px 20px;
    max-width:90%;
    height: fit-content;
    min-height: 100px;
    background-color: lightgreen;
    margin: 0 auto;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4,2fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    border-radius: 8px;
    position: relative;
}
.showMore{
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
}
.save-button{
    width: 20px;
    height: 20px;
    position: absolute;
    right: 8px;
    top: 55px;   
}
.please-login{
    text-align: center;
position: absolute;
top: 50px; left: 0; bottom: 0; right: 0;
}
.card-container{
padding-top:  10px;
padding-bottom: 10px;
padding-left: 10px;
padding-right: 30px;
width: 240px;
background-color:green;
position: relative;
border-radius: 8px;
}
.card-close-btn{
background-color: none;
position: absolute;
top: 5px;
right: 5px
}
.card-description{
    margin-bottom: 5px;
}
.card-doctor{
    margin-bottom: 5px;
}
.urgency{
    margin-bottom: 5px;
}
.full-name{
    margin-bottom: 5px;
}

.card-title{
    font-weight: bold;
    margin-bottom: 5px;
}
.img-header{
    width: 30px;
    height: 30px;
}
.submit-btn{
    max-width: 200px;
    margin-top: 15px;
}
.invalid-data{
    color: red;
    margin-top: 10px;
}
.header{
    display: flex;
    justify-content: space-between;
    background-color: rgba(172, 255, 47, 0.904) ;
    padding: 10px 20px;
    max-width: 75%;
    margin: 0 auto;
    border: 1px solid black ;
    margin-top: 20px;
}
.create-btn{
    display: none;
}
.modal {
position: fixed; 
top: 0;
right: 0;
bottom: 0;
left: 0;
background: rgba(0,0,0,0.5); 
z-index: 1050;
opacity: 0; 
-webkit-transition: opacity 200ms ease-in; 
-moz-transition: opacity 200ms ease-in;
transition: opacity 200ms ease-in; 
pointer-events: none; 
margin: 0;
padding: 0;
}

.modal:target {
opacity: 1; 
pointer-events: auto; 
overflow-y: auto; 
}

.modal-dialog {
position: relative;
width: auto;
margin: 10px;
}
@media (min-width: 576px) {
.modal-dialog {
max-width: 500px;
margin: 30px auto; 
}
}

.modal-content {
position: relative;
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
-webkit-flex-direction: column;
-ms-flex-direction: column;
flex-direction: column;
background-color: #fff;
-webkit-background-clip: padding-box;
background-clip: padding-box;
border: 1px solid rgba(0,0,0,.2);
border-radius: .3rem;
outline: 0;
}
@media (min-width: 768px) {
.modal-content {
-webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
box-shadow: 0 5px 15px rgba(0,0,0,.5);
}
}

.modal-header {
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
-webkit-align-items: center;
-ms-flex-align: center;
align-items: center;
-webkit-box-pack: justify;
-webkit-justify-content: space-between;
-ms-flex-pack: justify;
justify-content: space-between;
padding: 15px;
border-bottom: 1px solid #eceeef;
}
.modal-title {
margin-top: 0;
margin-bottom: 0;
line-height: 1.5;
font-size: 1.25rem;
font-weight: 500;
}

.close {
float: right;
font-family: sans-serif;
font-size: 24px;
font-weight: 700;
line-height: 1;
color: #000;
text-shadow: 0 1px 0 #fff;
opacity: .5;
text-decoration: none;
}

.close:focus, .close:hover {
color: #000;
text-decoration: none;
cursor: pointer;
opacity: .75;
}
.input {
padding: 5px 10px 5px 10px;
max-width: 200px;
}

.modal-form{
display: flex;
flex-direction: column;
}
.modal-body {
position: relative;
-webkit-box-flex: 1;
-webkit-flex: 1 1 auto;
-ms-flex: 1 1 auto;
flex: 1 1 auto;
padding: 15px;
overflow: auto;
}
.space_for_inputs{
    margin-top: 30px;
  margin-left: 300px;
}
.input_title{
    margin-left:40px;
    width:200px;
    height:30px;
    
}
/* .status_select{
    margin-left:40px;
} */
.status_second_select{
    margin-left:40px;
    width:200px;
    height:30px;

}
.search_btn{
    margin-left:40px; 
    width:200px;
    height:30px;
    background-color:lightgreen;
}